$font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 16px;
$background-color: #FFFFFF;
$content-wrapper-width: 1100px;
$content-border-color: #edeff3;
$form-input-border-color: #dddfe2;
$form-input-placeholder-color: #b0b3b8;
$text-color: #4c4e52;
$header-color: #394352;
$price-color: #969aa1;
$rrp-color: #bcc0c7;
$featured-header-font: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", sans-serif;
$featured-header-color: #FFFFFF;
$btn-color: #3c414e;
$nav-link-color: #656c77;
$link-color: #007bff;
* {
	box-sizing: border-box;
	font-family: $font;
    font-size: $font-size;
}
html {
  	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	color: $text-color;
    background-color: $background-color;
	margin: 0;
	padding-bottom: 100px; /* Same height as footer + padding */
}
h1, h2, h3, h4, h5 {
	color: $header-color;
}
.content-wrapper {
	width: 100%;
    max-width: $content-wrapper-width;
    margin: 0 auto;
	&.error {
		padding: 40px 0;
	}
}
header {
	position: relative;
    border-bottom: 1px solid $content-border-color;
	.content-wrapper {
		display: flex;
	}
    h1, img {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        font-size: 20px;
		font-weight: 500;
        margin: 0;
        padding: 24px 0;
    }
    nav {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: center;
        align-items: center;
        a {
			white-space: nowrap;
            text-decoration: none;
            color: $nav-link-color;
			border-radius: 25px;
            padding: 10px 18px;
            margin: 0 10px;
            &:hover {
                background-color: darken($background-color, 3);
				color: darken($nav-link-color, 15);
            }
        }
    }
    .link-icons {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: flex-end;
        align-items: center;
		position: relative;
		.search {
			.icon {
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				width: 40px;
				min-width: 40px;
				height: 40px;
				padding: 9px;
				border-radius: 50%;
				cursor: pointer;
				svg {
					fill: #455163;
				}
				&:hover {
					background-color: darken($background-color, 3);
				}
			}
			input {
				display: none;
				border: 0;
				border-bottom: 1px solid $form-input-border-color;
				padding: 10px 0;
				max-width: 200px;
				outline: none;
				margin-right: 10px;
				&::placeholder {
					color: $form-input-placeholder-color;
				}
			}
		}
		.responsive-toggle {
			display: none;
			justify-content: center;
			align-items: center;
		}
        a {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
            text-decoration: none;
            color: #394352;
            width: 40px;
			min-width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-left: 5px;
            &:hover {
				background-color: darken($background-color, 5);
            }
			svg {
				fill: #455163;
			}
			span {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				background-color: lighten($header-color, 20);
				background-color: #f0a65d;
				border: 1px solid #fff;
				border-radius: 50%;
				color: #fff;
				font-size: 10px;
				width: 17px;
				height: 17px;
				font-weight: 500;
				position: absolute;
				top: 2px;
				right: 2px;
			}
        }
    }
}
main {
	.page-title {
		display: block;
		font-weight: normal;
		margin: 0;
		padding: 40px 0 50px 0;
		font-size: 24px;
		text-align: center;
		width: 100%;
	}
	.featured {
		display: flex;
		flex-direction: column;
		background-repeat: no-repeat;
		background-size: cover;
		height: 500px;
		align-items: center;
		justify-content: center;
		text-align: center;
		h2 {
			display: inline-block;
			margin: 0;
			width: $content-wrapper-width;
			font-family: $featured-header-font;
			font-weight: 500;
			font-size: 68px;
			color: $featured-header-color;
			padding-bottom: 15px;
			text-shadow: 0px 0px 16px rgba(45, 54, 68, 0.2);
		}
		p {
			display: inline-block;
			margin: 0;
			width: $content-wrapper-width;
			font-size: 24px;
			color: $featured-header-color;
			text-shadow: 0px 0px 6px rgba(45, 54, 68, 0.2);
		}
	}
	.recentlyadded {
		h2 {
			display: block;
			font-weight: normal;
			margin: 0;
			padding: 40px 0;
			font-size: 24px;
			text-align: center;
			width: 100%;
			border-bottom: 1px solid $content-border-color;
		}
	}
	.recentlyadded .products, .products .products-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 40px 0 0 0;
		.product {
			display: block;
			overflow: hidden;
			text-decoration: none;
			width: 25%;
			padding-bottom: 60px;
			.img {
				display: flex;
				align-items: center;
				height: 200px;
				margin-bottom: 5px;
				overflow: hidden;
				img {
					max-width: 100%;
					max-height: 100%;
					width: auto;
					height: auto;
					object-fit: contain;
					transform: scale(1.0);
					transition: transform 1s;
				}
				&.small {
					height: 150px;
				}
			}
			.name {
				display: block;
				color: $text-color;
				padding: 20px 0 2px 0;
			}
			.price {
				display: block;
				color: $price-color;
			}
			.rrp {
				color: $rrp-color;
				text-decoration: line-through;
			}
			&:hover {
				img {
					transform: scale(1.05);
					transition: transform 1s;
				}
				.name {
					text-decoration: underline;
				}
			}
			&.no-stock {
				opacity: 0.5;
			}
		}
	}
	.products .products-wrapper .product {
		width: calc(100% / 3);
	}
	> .product {
		display: flex;
		padding: 40px 0;
		h1 {
			font-size: 34px;
			font-weight: normal;
			margin: 0;
			padding: 20px 0 10px 0;
		}
		.product-img-large {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 500px;
		}
		.product-small-imgs {
			display: flex;
			flex-flow: wrap;
			.product-img-small {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-basis: 31%;
				border: 1px solid $content-border-color;
				cursor: pointer;
				margin: 20px 12px 0 0;
				&:nth-child(3n) {
					margin-right: 0;
				}
				&.selected {
					border: 1px solid mix(#000, $content-border-color, 15%);
				}
			}
		}
		.product-img-large img, .product-img-small img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
			object-fit: contain;
		}
		.product-imgs {
			flex: 1;
			padding: 15px;
		}
		.product-wrapper {
			padding-left: 45px;
			flex: 1;
		}
		.prices {
			display: flex;
		}
		.price {
			display: block;
			font-size: 22px;
			color: $price-color;
		}
		.sub-period-type {
			display: block;
			font-size: 16px;
			color: $price-color;
		}
		.rrp {
			color: $rrp-color;
			text-decoration: line-through;
			font-size: 22px;
			padding-left: 10px;
		}
		.product-form {
			display: flex;
			flex-flow: column;
			max-width: 420px;
			width: 100%;
			margin: 25px 0 40px 0;
			.add-to-wishlist, .added-to-wishlist {
				display: inline-flex;
				align-items: center;
				padding: 20px 0 10px 0;
				text-decoration: none;
				appearance: none;
				border: 0;
				background-color: transparent;
				cursor: pointer;
				font-weight: 500;
				font-size: 14px;
				color: $text-color;
				svg {
					fill: $text-color;
					margin-right: 5px;
				}
				&:hover {
					color: lighten($text-color, 10);
				}
			}
			.added-to-wishlist {
				color: #dd3030;
				svg {
					fill: #dd3030;
				}
				&:hover {
					color: darken(#dd3030, 5);
				}
			}
			.btn {
				margin-top: 10px;
				width: 100%;
			}
			> label:first-child {
				padding-top: 0;
			}
		}
	}
	.product-details {
		padding: 0 15px;
		.description-title {
			border-bottom: 1px solid $content-border-color;
			h2 {
				display: inline-flex;
				font-size: 20px;
				font-weight: normal;
				padding: 10px 0 20px 0;
				margin: 0;
				border-bottom: 2px solid mix(#000, $content-border-color, 60%);
			}
		}
		.description-content {
			padding: 15px 0 40px 0;
			p {
				margin: 0;
				padding: 10px 0;
				line-height: 1.5;
			}
			h3 {
				font-size: 18px;
				font-weight: 500;
				padding: 10px 0;
				margin: 0;
			}
			ul {
				margin-top: 5px;
				li {
					padding: 5px 0;
				}
			}
		}
	}
	> .products {
		.products-header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 40px;
			p {
				font-size: 14px;
				font-weight: 500;
				color: $price-color;
				margin: 0;
			}
		}
		.products-form {
			display: flex;
			.products-filters {
				width: 280px;
				padding: 10px 60px 25px 0;
				.products-filter {
					border-top: 1px solid $content-border-color;
					padding-top: 10px;
					padding-bottom: 15px;
					&:first-child {
						border-top: 0;
						padding-top: 0;
					}
					.filter-title {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 0;
						margin: 0 0 7px 0;
						font-size: 16px;
						font-weight: 500;
						cursor: pointer;
						user-select: none;
						&::after {
							content: "";
							background: url('data:image/svg+xml,<svg width="16" height="16" fill="%23b1b4bb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
							width: 16px;
							height: 16px;
							margin: 0 0 0 15px;
							transform: rotate(180deg);
						}
						&:hover::after {
							background: url('data:image/svg+xml,<svg width="16" height="16" fill="%237e8186" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
						}
					}
					label {
						display: flex;
						align-items: center;
						height: 30px;
						font-size: 14px;
						user-select: none;
						input {
							margin-right: 10px;
							&[type="checkbox"] {
								opacity: 0.5;
								&:checked {
									opacity: 1;
								}
							}
						}
						&.hidden {
							display: none;
						}
					}
					.price-range {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 10px 0 0 0;
						input {
							font-size: 14px;
							width: 90px;
							padding: 5px;
						}
					}
					.show-more {
						display: block;
						text-decoration: none;
						color: $price-color;
						font-size: 14px;
						padding: 10px 0 0 0;
						&:hover {
							text-decoration: underline;
						}
					}
					&.closed {
						.filter-title { 
							margin: 0;
							&::after {
								transform: rotate(0deg);
							}
						}
						.filter-options {
							display: none;
						}
					}
				}
			}
			.products-view {
				flex: 1;
			}
		}
		.buttons {
			text-align: right;
			padding-bottom: 40px;
			a:first-child {
				margin-right: 5px;
			}
		}
	}
	.cart, .myaccount {
		table {
			width: 100%;
			thead td {
				padding: 30px 0;
				border-bottom: 1px solid $content-border-color;
				font-weight: 500;
				font-size: 14px;
				color: darken($price-color, 5);
				&:last-child {
					text-align: right;
				}
			}
			tbody td {
				padding: 20px 0;
				border-bottom: 1px solid $content-border-color;
				&:last-child {
					text-align: right;
				}
				&.no-results {
					text-align: center;
					color: $price-color;
				}
			}
			.img {
				width: 80px;
			}
			.remove {
				color: #db0b0b;
				font-size: 12px;
				padding-top: 3px;
				&:hover {
					text-decoration: underline;
				}
			}
			.price, .options {
				color: $price-color;
			}
			.options {
				font-size: 14px;
				max-width: 200px;
			}
			a {
				text-decoration: none;
				color: $text-color;
			}
			input[type="number"] {
				width: 68px;
			}
		}
		.total {
			text-align: right;
			padding: 30px 0 40px 0;
			.text {
				padding-right: 40px;
				font-size: 18px;
			}
			.price {
				font-size: 18px;
				color: $price-color;
			}
			.note {
				display: block;
				padding-top: 15px;
				color: $price-color;
			}
		}
		.buttons {
			text-align: right;
			padding-bottom: 40px;
			.btn {
				margin: 0 0 10px 7px;
			}
		}
	}
	.placeorder {
		p {
			text-align: center;
		}
	}
	.checkout {
		.container {
			display: flex;
			align-items: flex-start;
		}
		.shipping-details {
			margin-right: 35px;
			width: 100%;
			max-width: 520px;
			display: flex;
			flex-flow: wrap;
			padding-bottom: 40px;
			h2 {
				width: 100%;
				font-weight: normal;
				font-size: 20px;
				padding: 30px 0 20px 0;
				margin: 0 0 10px 0;
				border-bottom: 1px solid $content-border-color;
				&:first-child {
					padding: 20px 0 20px 0;
				}
			}
		}
		.payment-methods {
			display: flex;
			flex-flow: wrap;
			width: 100%;
			justify-content: space-between;
			label {
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid $content-border-color;
				border-radius: 5px;
				height: 60px;
				width: 159px;
				margin: 10px;
				font-weight: 500;
				color: lighten($header-color, 5);
				padding: 0;
				cursor: pointer;
				.stripe-icon {
					fill: #6671E4;
				}
				&:nth-child(2), &:nth-child(8) {
					margin-left: 0;
				}
				&:nth-child(3n) {
					margin-right: 0;
				}
				&:hover {
					border: 1px solid darken($content-border-color, 10);
				}
			}
			input {
				position: absolute;
				top: -9999px;
				left: -9999px;
				visibility: hidden;
				&:checked + label {
					border:2px solid #7ed1a1;
				}
			}
		}
		.cart-details {
			width: 90%;
			box-shadow: 0px 0px 6px 1px rgba(45, 54, 68, 0.1);
			border-radius: 4px;
			margin-left: 35px;
			margin-bottom: 50px;
			h2 {
				margin: 0;
				padding: 23px 15px;
				font-weight: 500;
				border-bottom: 1px solid $content-border-color;
			}
			table {
				width: 100%;
				padding: 20px;
				.price {
					text-align: right;
					font-weight: 500;
				}
				td {
					padding: 5px;
				}
			}
			.discount-code {
				padding: 0 23px 23px 23px;
				.result {
					display: block;
					padding-top: 10px;
				}
			}
			.shipping-methods {
				border-top: 1px solid $content-border-color;
				padding: 23px;
				h3 {
					margin: 0;
					padding: 0 0 10px;
					font-weight: 500;
				}
				.shipping-method {
					padding-top: 10px;
					margin: 0;
				}
			}
			.total {
				border-top: 1px solid $content-border-color;
				display: flex;
				justify-content: space-between;
				padding: 23px;
				font-size: 18px;
				font-weight: 500;
			}
			.alt {
				font-size: 14px;
				color: mix($header-color, #fff, 45%);
				padding-left: 5px;
			}
			.summary {
				border-top: 1px solid $content-border-color;
				padding: 23px 0;
				div {
					display: flex;
					justify-content: space-between;
					padding: 10px 23px;
					span {
						font-size: 14px;
						font-weight: 500;
					}
				}
				.discount span {
					color: #de0000;
				}
			}
			.buttons {
				margin: 0 23px 23px 23px;
				.btn {
					width: 100%;
				}
			}
		}
	}
	.myaccount {
		display: flex;
		flex-flow: wrap;
		.menu {
			padding-right: 35px;
			width: 300px;
			a {
				display: block;
				text-decoration: none;
				color: lighten($text-color, 20);
				padding: 15px 0;
				border-bottom: 1px solid lighten($content-border-color,3);
				&:hover {
					color: darken($text-color, 10);
				}
			}
		}
		.myorders, .mydownloads, .settings, .wishlist {
			flex: 1;
			padding-bottom: 50px;
		}
		.myorders {
			form {
				display: flex;
				flex-flow: wrap;
				justify-content: flex-end;
			}
			.order {
				border-radius: 4px;
				box-shadow: 0px 0px 6px 1px rgba(45, 54, 68, 0.1);
				margin: 30px 0 30px 0;
				.order-header {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid lighten($content-border-color,3);
					> div {
						display: flex;
						padding: 20px;
						div {
							padding-right: 35px;
							font-size: 14px;
							font-weight: 400;
							color: darken($price-color, 5);
							&:last-child {
								padding-right: 0;
							}
							span {
								display: block;
								font-weight: 500;
								font-size: 14px;
								padding-bottom: 3px;
							}
						}
						&:last-child {
							div {
								&:last-child {
									text-align: right;
								}
							}
						}
					}
				}
				.order-items {
					padding: 0 15px;
					table {
						margin: 0;
						padding: 0;
					}
				}
			}
		}
		.settings {
			form {
				max-width: 400px;
				.btn {
					margin-top: 25px;
				}
			}
		}
		h2 {
			width: 100%;
			font-weight: normal;
			font-size: 20px;
			padding: 15px 0;
			margin: 0 0 10px 0;
			border-bottom: 1px solid $content-border-color;
		}
		table {
			padding-bottom: 40px;
			tr:last-child td {
				border-bottom: 0;
			}
			a {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				border: 1px solid $content-border-color;
				border-radius: 4px;
				padding: 0 10px;
				font-size: 14px;
				color: #de0000;
				margin: 0 5px 5px 0;
				&:hover {
					color: darken(#de0000, 10);
				}
				.icon {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					align-self: center;
					padding-right: 10px;
					margin-right: 10px;
					height: 100%;
					border-right: 1px solid $content-border-color;
					svg {
						fill: #de0000;
					}
				}
			}
			.name {
				word-break: break-all;
			}
		}
		.login-register {
			display: flex;
			width: 80%;
			margin: 40px auto 0 auto;
			justify-content: space-between;
			margin-top: 40px;
			h1 {
				text-align: left;
				padding-top: 15px;
			}
			.login {
				flex: 1;
				border-right: 1px solid lighten($content-border-color, 3);
				padding-right: 55px;
			}
			.register {
				flex: 1;
				padding-left: 55px;
			}
			.btn {
				margin-top: 25px;
			}
		}
	}
	p.error {
		color: #cf1818;
		font-weight: 500;
		font-size: 14px;
	}
}
.img-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	div {
		position: absolute;
		display: flex;
		flex-flow: column;
		width: 800px;
		height: 800px;
		max-width: 90%;
		max-height: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #FFFFFF;
		padding: 15px;
		a {
			display: inline-flex;
			align-self: flex-end;
			text-decoration: none;
			font-size: 34px;
			line-height: 26px;
			color: lighten($text-color, 40);
			&:hover {
				color: lighten($text-color, 30);
			}
		}
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
			padding-top: 20px;
			padding-bottom: 25px;
		}
	}
}
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: $btn-color;
	border: 0;
	color: #FFFFFF;
	padding: 0 16px;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	height: 40px;
	border-radius: 4px;
	box-shadow: 0px 0px 6px 1px rgba(45, 54, 68, 0.15);
	cursor: pointer;
	&.paypal {
		background-color: #287ddf;
		box-shadow: 0px 0px 6px 1px rgba(45, 54, 68, 0.12);
	}
	&.stripe {
		background-color: #6772e5;
		box-shadow: 0px 0px 6px 1px rgba(45, 54, 68, 0.12);
	}
	&:hover {
		background-color: darken($btn-color, 3);
		&.paypal {
			background-color: darken(#287ddf, 3);
		}
		&.stripe {
			background-color: darken(#6772e5, 3);
		}
	}
	&:disabled {
		background: #c6c7c9;
		box-shadow: 0px 0px 6px 1px rgba(45, 54, 68, 0.05);
	}
}
.link {
	font-weight: 500;
	text-decoration: none;
	color: $link-color;
	font-size: inherit;
	&:hover {
		text-decoration: underline;
	}
}
.form {
	.form-group {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.col {
			width: 100%;
		}
	}
	.form-select {
		display: inline-flex;
		align-items: center;
		padding: 2px 0 2px 10px;
		border: 1px solid $form-input-border-color;
		border-radius: 5px;
		color: mix(#000, $price-color, 10%);
		font-size: 14px;
		overflow: hidden;
		select {
			padding: 5px 5px 5px 0;
			border: 0;
			font-weight: 500;
			font-size: 14px;
			color: mix(#000, $price-color, 10%);
			outline: none;
			option {
				color: mix(#000, $price-color, 30%);
			}
		}
	}
	.form-label {
		display: block;
		padding: 14px 0 10px 0;
	}
	.form-label-2 {
		display: block;
		padding: 14px 0 0 0;
	}
	.form-input {
		padding: 8px 10px;
		border: 1px solid $form-input-border-color;
		border-radius: 4px;
		&::placeholder {
			color: $form-input-placeholder-color;
		}
		&.expand {
			width: 100%;
		}
	}
	.form-radio-checkbox {
		display: flex;
		flex-flow: wrap;
		input {
			margin: 0 8px 0 0;
		}
		label {
			display: inline-flex;
			align-items: center;
			padding: 10px 15px 0 0;
		}
	}
}
footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid $content-border-color;
	padding: 20px 0;
	width: 100%;
	a {
		text-decoration: none;
		color: $text-color;
		&:hover {
			text-decoration: underline;
		}
	}
}
@for $i from 1 to 6 {
	.pad-#{$i} {
		padding: #{$i*5}px;
	}
	.mar-#{$i} {
		margin: #{$i*5}px;
	}
}
@for $i from 1 to 6 {
	.pad-bot-#{$i} {
		padding-bottom: #{$i*5}px;
	}
	.pad-top-#{$i} {
		padding-top: #{$i*5}px;
	}
	.pad-left-#{$i} {
		padding-left: #{$i*5}px;
	}
	.pad-right-#{$i} {
		padding-right: #{$i*5}px;
	}
	.pad-x-#{$i} {
		padding-left: #{$i*5}px;
		padding-right: #{$i*5}px;
	}
	.pad-y-#{$i} {
		padding-top: #{$i*5}px;
		padding-bottom: #{$i*5}px;
	}
	.mar-bot-#{$i} {
		margin-bottom: #{$i*5}px;
	}
	.mar-top-#{$i} {
		margin-top: #{$i*5}px;
	}
	.mar-left-#{$i} {
		margin-left: #{$i*5}px;
	}
	.mar-right-#{$i} {
		margin-right: #{$i*5}px;
	}
	.mar-x-#{$i} {
		margin-left: #{$i*5}px;
		margin-right: #{$i*5}px;
	}
	.mar-y-#{$i} {
		margin-top: #{$i*5}px;
		margin-bottom: #{$i*5}px;
	}
}
/* Responsive CSS below */
@media screen and (max-width: $content-wrapper-width) {
	.rhide {
		display: none;
	}
	.content-wrapper {
		padding: 0 10px;
	}
	header {
		justify-content:space-between;
	    h1 {
	        font-size: 16px;
			flex-basis: auto;
	    }
	    nav {
	        display: none;
			position: absolute;
			left: 0;
			top: calc(100% + 1px);
			width: 100%;
			background-color: #FFFFFF;
			margin: 0;
			box-shadow: 0px 2px 2px 1px rgba(45, 54, 68, 0.03);
			a {
				display: block;
				padding: 15px 12px;
				margin: 0;
				border-bottom: 1px solid lighten($content-border-color, 3);
			}
	    }
		.link-icons {
			display: inline-flex;
			width: 100px;
			.responsive-toggle {
				display: flex;
			}
			.search input {
				max-width: 150px;
			}
		}
	}
	main {
		.recentlyadded .products, .products .products-wrapper {
			justify-content: center;
			.product {
				width: auto;
			}
		}
		.featured {
			height: 300px;
			h2 {
				font-size: 48px;
				width: 100%;
				padding: 0 10px;
			}
			p {
				font-size: 22px;
				width: 100%;
				padding: 0 10px;
			}
		}
		> .products {
			.products-header {
				p, label {
					margin-bottom: 10px;
				}
			}
			.products-form {
				flex-flow: column;
				.products-filters {
					width: 100%;
					order: 1;
					padding: 0 5px 15px 5px;
				}
			}
		}
		> .product {
			padding: 0 10px;
			flex-flow: column;
			.product-imgs {
				padding: 20px 10px 0 10px;
				.product-img-large {
					height: 300px;
				}
				.product-small-imgs {
					.product-img-small {
						height: 80px;
						flex-basis: 30%;
					}
				}
			}
			.product-wrapper {
				padding: 0;
			}
		}
		.cart {
			table {
				input[type="number"] {
					width: 40px;
				}
			}
		}
		.checkout, .myaccount {
			.container {
				flex-flow: column;
			}
			.shipping-details {
				.payment-methods {
					flex-flow: column;
					label {
						width: 100%;
						margin: 0 0 10px 0;
					}
				}
			}
			.cart-details {
				margin: 0 0 40px 0;
				width: 100%;
			}
			form {
				width: 100%;
			}
		}
		.myaccount {
			.login-register {
				width: 100%;
				flex-flow: column;
				.login {
					border-right: 0;
					padding: 10px;
				}
				.register {
					padding: 10px;
				}
			}
			.menu {
				width: 100%;
				padding-right: 0;
			}
		}
	}
}